<p>Load data of <b>{{ this.status }}</b> status !</p>

<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Status : {{ this.status }} </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  User Name
                </th>
                <th>
                  email
                </th>
                <th>
                  Subscription Date
                </th>
                <th class="text-right">
                  Subscribed By
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Sunny Sonar
                  </td>
                  <td>
                    sunny.sonar@inscripts.com
                  </td>
                  <td>
                    12-01-2020
                  </td>
                  <td class="text-right">
                    Sunny
                  </td>
                </tr>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
